h1 {
    color: rgb(255, 0, 30);
}
#para1 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: rgb(255, 0, 217);
    text-transform: uppercase;
    border: 2px dotted blue;
}

#para2 {
    font-size: 18px;
    font-weight: 600;
    font-family: Georgia;
    color: green;
    text-decoration: underline;
    text-transform: capitalize;
}

.info {
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana;
    color: purple;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 1.5;
    letter-spacing: 1px;
    background-color: yellow;
    padding: 20px;
}

#para5 {
    color: purple;
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana;
    border: 2px dashed rgb(255, 0, 0);
}

button {
    padding: 15px 30px;
    color: white;
    background-color: rgb(0, 132, 255);
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
}

header img {
    width: 150px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}